modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "replitmail:1.0.0", "javascript_object_storage:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Vite Dev"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Vite Dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:react"
waitForPort = 5173

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3001

[[ports]]
localPort = 41095
externalPort = 3002

[[ports]]
localPort = 43235
externalPort = 4200

[[ports]]
localPort = 43457
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "install"]

[objectStorage]
defaultBucketID = "replit-objstore-34844072-dfc9-470d-a75e-4cc381e322d8"
